{% extends "base-content.html" %}

{% block title %}About Natalie{% endblock title %}

{% block content %}
<div>
  <h2 class="featurette-heading">About Natalie</h2>
  <p>
    Natalie studied a double bachelor's degree in Electrical Engineering and
    Computer Science from the University of New South Wales between 2009 and mid 2014.<br/>
    Her recent interest include...<br/>
  </p>
  <ul>
    <li>Intelligent vehicles</li>
    <li>Autonomous vehicles</li>
    <li>Smart homes</li>
    <li>Entrepreneurship</li>
    <li>UX design</li>
    <li>Retail psychology and strategy</li>
  </ul>
</div>
{% endblock content %}
