{% extends "base-content.html" %}

{% block title %}Contact Natalie{% endblock title %}

{% block content %}
<div>
  <h2 class="featurette-heading">Contact Information</h2>
  <div>
    <p>Email: <a href="mailto:natalie@kryptonat.com">natalie@kryptonat.com</a></p>
  </div>
  <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
  <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/nataliewong1" data-format="inline" data-related="false"></script>
</div>
{% endblock content %}
